{% extends 'base.html.twig' %}

{% block body %}
<h1>Hello {{ controller_name }}! ✅</h1>

<div {{ stimulus_controller('hello') }}></div>

    <a href="{{ path('user_index') }}">Users</a>
    <a href="{{ path('team_index') }}">Teams</a>
    <a href="{{ path('server_index') }}">Servers</a>
{% endblock %}
