{% extends 'layout.html.twig' %}

{% set logout_to_index = true %}
 
{% block content %}
{% if shared|length > 1 or app.user.admin %}
<div class="clearfix">
    <ul class="pull-left nav nav-tabs nav-tabs-avatars">
        <li class="{{ userid == null ? 'active' }}" data-toggle="tooltip" data-container="body" data-placement="top" title="All">
            <a href="{{ path('dashboard') }}" style="text-align: center; padding: 5px 8px; color: #333;">
                <i class="icon-fixed-width icon-group"></i>
            </a>
        </li>
{% for user in shared %}
        <li class="{{ userid == user.id ? 'active' }}" data-toggle="tooltip" data-container="body" data-placement="top" title="{{ user.name ?? user.id }}">
            <a href="{{ path('dashboard', { user: user.id }) }}">
                <img class="column-identicon" alt="{{ user.name ?? user.id }}'s crashes" src="{{ user.avatar ?? 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg' }}" width="20" height="20">
            </a>
        </li>
{% endfor %}
    </ul>
</div>
{% endif %}
<div class="well well-tight">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Crash ID</th>
                <th>Uploaded</th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs">Function</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
{% set last = null %}
{% for crash in crashes %}
{% set last = crash.timestamp %}
            <tr {% if crash.processed == 0 %}class="warning"{% elseif crash.failed == 1 %}class="danger"{% endif %}>
                <td>
{% if crash.cmdline %}
                    <img class="column-identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20">
{% endif %}
                </td>
                <td class="monospace"><a href="{{ path('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></td>
                <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% spaceless %}
                <td class="hidden-xs">
{% if userid == null and (shared|length > 1 or app.user.admin) and crash.owner and crash.name %}
                    <a href="http://steamcommunity.com/profiles/{{ crash.owner }}">
                        <img class="column-identicon" title="{{ crash.name }}" src="{{ crash.avatar }}" width="20" height="20">
                    </a>
{% endif %}
                </td>
{% endspaceless %}
{% if crash.module is not empty or crash.module2 is empty %}
{% set frame = {rendered: crash.rendered, first: true} %}
{% else %}
{% set frame = {rendered: crash.rendered2, first: false} %}
{% endif %}
                <td title="{{ frame.rendered }}" class="hidden-xs monospace column-stackframe {% if not frame.first %}column-stackframe-fallback{% endif %}">
                    {{ frame.rendered }}
                </td>
{% spaceless %}
                <td class="column-actions hidden-xs">
{% if crash.notice is not empty %}
{% set notice = crash.notice | split('-', 2) %}
                    <span class="btn btn-xs disabled btn-{{ notice[1] }}">{{ (notice[0] != 1 ? notice[0] : '&ensp;') | raw }}</span>
{% endif %}
{% if app.user.admin %}
{% if crash.processed == 1 %}
                    <form action="{{ path('reprocess', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-default"><i class="icon-refresh"></i></button>
                    </form>
{% endif %}
                    <form action="{{ path('delete', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-danger"><i class="icon-trash"></i></button>
                    </form>
{% endif %}
                </td>
{% endspaceless %}
            </tr>
{% else %}
            <tr>
                <td class="text-center" colspan="6">No Crashes</td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <ul class="pager">
                        <li class="previous {% if not offset %}disabled{% endif %}">
                            <a {% if offset %}href="{{ path('dashboard', {user: userid}) }}"{% endif %}><i class="icon-double-angle-left"></i> Newest</a>
                        </li>
                        <li class="next {% if not last %}disabled{% endif %}">
                            <a {% if last %}href="{{ path('dashboard', {offset: last, user: userid}) }}"{% endif %}>Older <i class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

