{% extends 'layout.html.twig' %}

{% set logout_to_index = true %}
 
{% block content %}
<h2>Recent Crashes</h2>
<div class="well well-tight">
    <table class="table table-striped">
        <thead>
            <th></th>
            <th>Crash ID</th>
            <th>Uploaded</th>
            <th class="hidden-xs">Function</th>
{% if user.admin %}
            <th class="hidden-xs"></th>
{% endif %}
        </thead>
        <tbody>
{% for crash in crashes %}
            <tr {% if crash.processed == 0 %}class="warning"{% elseif crash.failed == 1 %}class="danger"{% endif %}>
                <td>
{% if crash.cmdline %}
                    <img class="column-identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20">
{% endif %}
                </td>
                <td class="monospace"><a href="{{ path('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></td>
                <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% if crash.module is not empty or crash.module2 is empty %}
{% set frame = {rendered: crash.rendered, first: true} %}
{% else %}
{% set frame = {rendered: crash.rendered2, first: false} %}
{% endif %}
                <td title="{{ frame.rendered }}" class="hidden-xs monospace column-stackframe {% if not frame.first %}column-stackframe-fallback{% endif %}">
                    {{ frame.rendered }}
                </td>
{% if user.admin %}
                <td class="column-actions hidden-xs">
                    <form action="{{ path('reprocess', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-default"><i class="icon-refresh"></i></button>
                    </form>
                    <form action="{{ path('delete', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-danger"><i class="icon-trash"></i></button>
                    </form>
                </td>
{% endif %}
            </tr>
{% else %}
            <tr>
                <td class="text-center" colspan="{% if user.admin %}5{% else %}4{% endif %}">No Crashes</td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="table-more" colspan="{% if user.admin %}5{% else %}4{% endif %}">
                    <a href="{{ path('list') }}">
                        <i class="icon-ellipsis-horizontal"></i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{# This never got implemented.
<h2>Servers<a class="crash-counts pull-right btn btn-default btn-xs disabled"><i class="icon-plus"></i> New</a></h2>
<div class="well well-tight">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Last Crash</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" colspan="4">No Servers</td>
            </tr>
        </tbody>
    </table>
</div>
#}
{% endblock %}

