{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="page-header">
    <h1>Details <small class="pull-right pull-subtitle monospace">{{ crash.id|crashid }}</small></h1>
</div>

<dl class="dl-horizontal">
    <dt>Uploaded</dt>
    <dd>{{ crash.timestamp|date }}</dd>

{% if crash.cmdline %}
    <dt>Command Line</dt>
    <dd>{{ crash.cmdline }}</dd>
{% endif %}
</dl>

{% if crash.metadata %}
<dl class="dl-horizontal">
{% for key, value in crash.metadata %}
    <dt>{{ key|decamel }}</dt>
{% if value %}
    <dd>{{ value }}</dd>
{% else %}
    <dd>&nbsp;</dd>
{% endif %}
{% endfor %}
</dl>
{% endif %}

{% set user = app.session.get('user') %}
{% if user and (user.admin or user.id == crash.owner) %}
<a class="btn" href="{{ url('download', {'id': crash.id}) }}"><i class="icon-download"></i> Download</a>
{% endif %}

{% if crash.processed == 0 %}
    <div class="alert alert-block alert-info">
        This crash is pending processing, try again later.
    </div>
{% else %}
    <h2>Stack Trace</h2>
    {{ render(url('stack', {'id': crash.id})) }}
{% endif %}
{% endblock %}

