{% extends 'layout.html.twig' %}

{% block content %}
{% if not crash.owner %}
{% if app.config.accelerator %}
<div class="alert alert-block alert-info">This crash was submitted anonymously. If you are the owner, please configure Accelerator with your Steam ID.</div>
{% endif %}
{% else %}
{% if not user %}
<div class="alert alert-block alert-info">If you are the owner of this crash, <a href="{{ path('login', {'return': app.request.pathInfo}) }}" class="alert-link">login</a> to see more information.</div>
{% elseif not user.admin and user.id != crash.owner %}
<div class="alert alert-block alert-info">You can not see full information about this crash as you are not the owner.</div>
{% endif %}
{% endif %}

<div class="well">
    <dl class="dl-horizontal">
        <dt>Uploaded</dt>
        <dd>{{ crash.timestamp|date }}</dd>
{% if user and (user.admin or user.id == crash.owner) %}
{% if crash.cmdline %}
        <dt>Command Line</dt>
        <dd>{{ crash.cmdline }}</dd>
{% endif %}
{% for key, value in crash.metadata %}
        <dt>{{ key|format_metadata_key }}</dt>
{% if value %}
        <dd>{{ value }}</dd>
{% else %}
        <dd>&nbsp;</dd>
{% endif %}
{% endfor %}
{% endif %}
    </dl>
</div>

{%if outdated %}
<div class="alert alert-block alert-info">This crash was submitted using an older version of Accelerator, please <a href="https://forums.alliedmods.net/showthread.php?t=277703" class="alert-link">update to the latest version</a> for full functionality.</div>
{% endif %}

{% if crash.processed == 0 %}
<div class="alert alert-block alert-info">This crash is pending processing, try again later.</div>
{% elseif crash.failed == 1 %}
<div class="alert alert-block alert-danger">An error occurred while processing this crash.</div>
{% endif %}

{% if crash.processed == 1 and crash.failed == 0 %}
{% for notice in notices %}
<div class="alert alert-block alert-{{ notice.severity }}">{{ notice.text|raw }}</div>
{% endfor %}

{% if has_error_string and user and (user.admin or user.id == crash.owner) %}
<div id="error-details" class="alert alert-block alert-warning"><i class="icon-cog icon-spin"></i></div>
{% endif %}

<div class="alert alert-block alert-success">
{% if stats['crashes'] != 1 %}
    <a class="alert-link" href="{{ path('stats', {module: crash.stackhash}) }}">{{ stats['crashes'] }} reports share this crash signature.</a> ({{ stats['owners'] }} owner{% if stats['owners'] != 1 %}s{% endif %} / {{ stats['ips'] }} ip{% if stats['ips'] != 1 %}s{% endif %})
{% else %}
    <a class="alert-link" href="{{ path('stats', {module: crash.stackhash}) }}">This crash signature is unique.</a>
{% endif %}
</div>
{% endif %}

{% if user and (user.admin or user.id == crash.owner) %}
<div class="well clearfix">
    <a class="btn btn-primary" href="{{ path('download', {'id': crash.id}) }}"><i class="icon-download"></i> Download</a>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('view', {'id': crash.id}) }}"><i class="icon-eye-open"></i> View Raw</a>
{% if crash.processed == 1 %}
        <a class="btn btn-default" href="{{ path('logs', {id: crash.id}) }}"><i class="icon-cogs"></i> View Logs</a>
{% endif %}
{% if user.admin %}
{% if crash.processed == 1 %}
        <form action="{{ path('reprocess', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
            <button type="submit" class="btn btn-default"><i class="icon-refresh"></i> Reprocess</button>
        </form>
{% endif %}
        <form action="{{ path('delete', {id: crash.id}) }}" method="post" class="button-form">
            <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
        </form>
{% endif %}
    </div>
</div>
{% endif %}

{% if crash.processed == 1 and crash.failed == 0 %}
<h2>Stack Trace</h2>
<div class="well well-tight">
    <table class="table table-stacktrace table-shown">
        <thead>
            <tr>
                <th></th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
{% for frame in stack %}
            <tr>
                <th>{{ frame.frame }}</th>
                <td class="monospace">
                  {{ frame.rendered }}
{% if frame.url %}
                  <a href="{{ frame.url }}"><i class="icon-external-link"></i></a>
{% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><i class="icon-ellipsis-horizontal"></i></td>
            </tr>
        </tfoot>
    </table>
</div>

{% if user and (user.admin or user.id == crash.owner) %}
<h2>Modules</h2>
<div class="well well-tight">
    <table class="table table-modules table-shown">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Base</th>
            </tr>
        </thead>
        <tbody>
{% for module in modules %}
{% set class = ((module.identifier == '000000000000000000000000000000000') ? 'info' : (module.processed ? '' : (module.present ? 'warning' : 'danger'))) %}
            <tr class="{{ class }}">
                <td>{{ module.name }}</td>
                <td class="monospace">{{ module.identifier }}</td>
                <td class="monospace">{{ module.base|address }}</td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><i class="icon-ellipsis-horizontal"></i></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ app.request.baseUrl }}/js/jquery.hoverIntent.min.js"></script>
<script type="text/javascript">
    $('.table-stacktrace tbody tr').hoverIntent(function() { $(this).toggleClass('stackframe-expand'); });

    $('.table-shown').each(function() {
        if ($(this).find('tbody tr').length <= 10) {
            return;
        }

        $(this).toggleClass('table-shown').toggleClass('table-hidden').find('tfoot').click(function() {
            $(this).parent().toggleClass('table-hidden').toggleClass('table-shown');
        });
    });
</script>
{% if has_error_string %}
<script type="text/javascript">
    $.getJSON('{{ path('error', {id: crash.id}) }}', function(data) {
        if (data.string) {
            $('#error-details').text(data.string);
        }
    });
</script>
{% endif %}
{% endblock %}

