{% extends 'layout.html.twig' %}

{% set supports_mobile = true %}

{% block content %}
{% if not crash.owner %}
{% if app.config.accelerator %}
<div class="alert alert-block alert-info">This crash was submitted anonymously. If you are the owner, please configure Accelerator with your Steam ID.</div>
{% endif %}
{% else %}
{% if not app.user %}
<div class="alert alert-block alert-info">If you are the owner of this crash, <a href="{{ path('login', {'return': app.request.pathInfo}) }}" class="alert-link">login</a> to see more information.</div>
{% elseif not can_manage %}
<div class="alert alert-block alert-info">You can not see full information about this crash as you are not the owner.</div>
{% endif %}
{% endif %}

{%if outdated %}
<div class="alert alert-block alert-warning">This crash was submitted using an older version of Accelerator, please <a href="https://forums.alliedmods.net/showthread.php?t=277703" class="alert-link">update to the latest version</a> for full functionality.</div>
{% endif %}

<div class="well" style="position: relative;">
    <dl class="dl-horizontal" style="margin: 0;">
        <dt>Uploaded</dt>
        <dd>{{ crash.timestamp|date }}</dd>
{% if can_manage %}
{% if crash.ip %}
	<dt>Upload IP</dt>
	<dd>{{ crash.ip }}</dd>
{% endif %}
{% if can_manage and crash.owner and crash.owner != app.user.id %}
    <dt>Owner</dt>
    <dd><a  href="{{ path('dashboard', {'user': crash.owner}) }}">{{ crash.name ?? crash.owner }}</a></dd>
{% endif %}
{% if crash.cmdline %}
        <dt>Command Line</dt>
        <dd>{{ crash.cmdline }}</dd>
{% endif %}
{% for key, value in crash.metadata %}
        <dt>{{ key|format_metadata_key }}</dt>
{% if value %}
        <dd>{{ value }}</dd>
{% else %}
        <dd>&nbsp;</dd>
{% endif %}
{% endfor %}
{% endif %}
    </dl>
{% if app.feature.subscriptions %}
    <a class="supporter-tag" href="{{ path('subscribe') }}" data-toggle="tooltip" data-container="body" data-placement="bottom" title="The owner of the server that submitted this crash dump contributes money to support the hosting and development of this service."><i class="icon-usd"></i> Supporter</a>
{% endif %}
</div>

{% if crash.processed == 0 %}
<div class="alert alert-block alert-info">This crash is pending processing, try again later.</div>
{% elseif crash.failed == 1 %}
<div class="alert alert-block alert-danger">An error occurred while processing this crash.</div>
{% endif %}

{% if crash.processed == 1 and crash.failed == 0 %}
{% for notice in notices %}
<div class="alert alert-block alert-{{ notice.severity }}">{{ notice.text|raw }}</div>
{% endfor %}

{% if crash.thread != 0 %}
<div class="alert alert-block alert-info">This crash is not from the main thread.<br>The stack trace displayed below is of the thread that crashed.</div>
{% endif %}

{% if has_error_string and can_manage %}
<div id="error-details" class="alert alert-block alert-warning"><i class="icon-cog icon-spin"></i></div>
{% endif %}

{% if modules|length == 0 %}
<div class="alert alert-block alert-warning">This crash is missing a module list and will not have symbol information.</div>
{% endif %}

<div class="alert alert-block alert-info">
{% if stats['crashes'] != 1 %}
    <a class="alert-link" href="{{ path('stats', {module: crash.stackhash}) }}">{{ stats['crashes'] }} reports share this crash signature.</a> ({{ stats['owners'] }} owner{% if stats['owners'] != 1 %}s{% endif %} / {{ stats['ips'] }} ip{% if stats['ips'] != 1 %}s{% endif %})
{% else %}
    <a class="alert-link" href="{{ path('stats', {module: crash.stackhash}) }}">This crash signature is unique.</a>
{% endif %}
</div>
{% endif %}

{% if can_manage %}
<div class="well clearfix">
    <a class="btn btn-primary" href="{{ path('download', {'id': crash.id}) }}"><i class="icon-download"></i> Download Minidump</a>
{% if crash.has_console_log %}
    <a class="btn btn-default" href="{{ path('console', {'id': crash.id}) }}"><i class="icon-terminal"></i> View Console</a>
{% endif %}
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('carburetor', {'id': crash.id}) }}"><i class="icon-eye-open"></i> View Raw</a>
{% if app.user.admin and crash.processed == 1 %}
        {# <a class="btn btn-default" href="{{ path('logs', {id: crash.id}) }}"><i class="icon-cogs"></i> View Processing Logs</a> #}
        <form action="{{ path('reprocess', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
            <button type="submit" class="btn btn-default"><i class="icon-refresh"></i> Reprocess</button>
        </form>
{% endif %}
        <form action="{{ path('delete', {id: crash.id}) }}" method="post" class="button-form">
            <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
        </form>
    </div>
</div>
{% endif %}

{% if crash.processed == 1 and crash.failed == 0 %}
<h2>Stack Trace</h2>
<div class="well well-tight">
    <table class="table table-stacktrace table-shown">
        <thead>
            <tr>
                <th></th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
{% for frame in stack %}
            <tr class="{% if '__SourceHook_' in frame.rendered %}text-muted{% endif %}">
                <th>{{ frame.frame }}</th>
                <td class="monospace">
                  {{ frame.rendered }}
{% if frame.url %}
                  <a href="{{ frame.url }}"><i class="icon-external-link"></i></a>
{% endif %}
{% if '__SourceHook_' in frame.rendered %}
                  <span class="pull-right" data-toggle="tooltip" data-container="body" data-placement="bottom" title="This frame is from a function hook and is most likely unrelated to the cause of the crash."><i class="icon-anchor"></i></span>
{% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><i class="icon-ellipsis-horizontal"></i></td>
            </tr>
        </tfoot>
    </table>
</div>

{% if modules|length > 0 and can_manage %}
<h2>Modules</h2>
<div class="well well-tight">
    <table class="table table-modules table-shown">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Base</th>
            </tr>
        </thead>
        <tbody>
{% for module in modules %}
{% set class = ((module.identifier == '000000000000000000000000000000000') ? 'info' : (module.processed ? '' : (module.present ? 'warning' : 'danger'))) %}
            <tr class="{{ class }}">
                <td>{{ module.name }}</td>
                <td class="monospace">{{ module.identifier }}</td>
                <td class="monospace">{{ module.base|address }}</td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><i class="icon-ellipsis-horizontal"></i></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% endif %}
<div class="modal fade" id="copy-warning" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>If you are copying the stack trace to share, please link this page instead.</p>
        <p>Having the full report makes it a lot easier to help you, and only non-sensitive information is visible publicly.</p>
        <p>You can verify this yourself by logging out or using an Incognito / Private Browsing window.</p>
        <button type="button" class="btn btn-block btn-sm btn-info" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ app.request.baseUrl }}/js/jquery.hoverIntent.min.js"></script>
<script type="text/javascript">
    var hasShownWarning = false;
    $(/*'.table-stacktrace'*/document).on('copy', function() {
        if (hasShownWarning) {
            return;
        }

        hasShownWarning = true;

        setTimeout(function() {
            $('#copy-warning').modal();
        }, 100);
    });

    $('.table-stacktrace tbody tr').hoverIntent(function() { $(this).toggleClass('stackframe-expand'); });

    $('.table-shown').each(function() {
        if ($(this).find('tbody tr').length <= 10) {
            return;
        }

        $(this).toggleClass('table-shown').toggleClass('table-hidden').find('tfoot').click(function() {
            $(this).parent().toggleClass('table-hidden').toggleClass('table-shown');
        });
    });

{% if has_error_string %}
    $.getJSON('{{ path('error', {id: crash.id}) }}', function(data) {
        if (data.string) {
            $('#error-details').text(data.string);
        }
    });
{% endif %}
</script>
{% endblock %}

