{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="page-header">
    <h1>Details <small class="pull-right pull-subtitle">{{ crash.id|crashid }}</small></h1>
</div>

<dl class="dl-horizontal">
    <dt>Uploaded</dt>
    <dd>{{ crash.timestamp|date }}</dd>

{% if crash.processed == 1 %}
    <dt>Command Line</dt>
    <dd>{{ crash.cmdline }}</dd>
{% endif %}
</dl>

<dl class="dl-horizontal">
{% for key, value in crash.metadata %}
    <dt>{{ key|decamel }}</dt>
    <dd>{{ value }}</dd>
{% endfor %}
</dl>

{% if crash.processed == 0 %}
    <div class="alert alert-block alert-info">
        This crash is pending processing, try again later.
    </div>
{% else %}
    <h2>Stack Trace</h2>
    {{ render(url('stack', {'id': crash.id})) }}
{% endif %}
{% endblock %}

