{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
{% if maintenance_message is not empty %}
        <div class="alert alert-block alert-info">{{ maintenance_message|raw }}</div>
{% endif %}
        <div class="well">
{% for error in errors_crash %}
            <div class="alert alert-error">{{ error }}</div>
{% endfor %}
            <form action="" method="get" class="form-inline text-center">
                <div class="input-prepend input-append">
                    <span class="add-on">Crash ID</span>
                    <input type="text" name="id" class="span4 monospace input-crashid" placeholder="XXXX-XXXX-XXXX">
                    <button type="submit" class="btn">Go</button>
                </div>
            </form>
            <span class="divider">OR</span>
{% for error in errors_auth %}
            <div class="alert alert-error">{{ error }}</div>
{% endfor %}
{% if user %}
            <a href="{{ path('list') }}" class="btn btn-large btn-inverse btn-block">Go to Dashboard</a>
{% else %}
            <a href="{{ path('login') }}" class="btn btn-large btn-inverse btn-block">Login</a>
{% endif %}
        </div>
        <div class="well">
            <div class="row-fluid" id="stat-blocks">
                <div class="alert alert-block alert-success span4 text-center"><strong>{{ stats.processed }}</strong> processed</div>
                <div class="alert alert-block span4 text-center"><strong>{{ stats.pending }}</strong> pending</div>
                <div class="alert alert-block alert-error span4 text-center"><strong>{{ stats.failed }}</strong> failed</div>
            </div>
            <div class="well well-tight"><img src="{{ app.request.baseUrl }}/img/graph.png"></div>
        </div>
    </div>
</div>
{% endblock %}
 
