{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
{% if maintenance_message is not empty %}
        <div class="alert alert-block alert-info">{{ maintenance_message|raw }}</div>
{% endif %}
        <div class="well">
{% for error in errors_crash %}
            <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
            <form action="" method="get" class="form-crashid form-inline text-center">
                <div class="input-group">
                    <span class="input-group-addon">Crash ID</span>
                    <input type="text" name="id" class="form-control span4 monospace input-crashid" placeholder="XXXX-XXXX-XXXX">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </span>
                </div>
            </form>
            <span class="divider hidden-xs">OR</span>
{% for error in errors_auth %}
            <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% if user %}
            <a href="{{ path('dashboard') }}" class="btn btn-lg btn-primary btn-block">Go to Dashboard</a>
{% else %}
            <a href="{{ path('login') }}" class="btn btn-lg btn-primary btn-block">Login</a>
{% endif %}
        </div>
    </div>
</div>
{% endblock %}
 
