<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=EDGE" http-equiv="X-UA-Compatible">
{% if supports_mobile|default(false) %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}
        <title>Throttle</title>
        <link href="{{ app.request.baseUrl }}/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/font-awesome.min.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}
        <link href="{{ app.request.baseUrl }}/css/application.css" rel="stylesheet">
{% if 'Kindle/3.0' in app.request.headers.get('User-Agent') %}
        <link href="{{ app.request.baseUrl }}/css/kindle.css" rel="stylesheet">
{% endif %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="icon-dashboard"></i> Throttle</a>
                <div class="pull-right">
{% if app.user %}
<ul class="nav navbar-nav">
    <li class="dropdown {% if app.user.pending > 0 %}pending-notifications{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
{% if app.user.name %}
            <img src="{{ app.user.avatar }}" alt="{{ app.user.name }}'s avatar">
{% else %}
            Account
{% endif %}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a href="{{ path('dashboard') }}"><i class="icon-fixed-width icon-reorder"></i> Dashboard</a></li>
{% if app.feature.subscriptions %}
            <li><a href="{{ path('subscribe') }}"><i class="icon-fixed-width icon-usd"></i> Support</a></li>
            <li data-toggle="tooltip" data-container="body" data-placement="left" title="Supporter since 2017-10-29"><a href="{{ path('subscribe') }}"><i class="icon-fixed-width icon-usd"></i> 2&#8239;/&#8239;month</a></li>
            <li class="alert-warning" data-toggle="tooltip" data-container="body" data-placement="left" title="Subscription cancelled, access expires 2017-10-29"><a href="{{ path('subscribe') }}"><i class="icon-fixed-width icon-usd"></i> 2&#8239;/&#8239;month</a></li>
            <li class="alert-danger" data-toggle="tooltip" data-container="body" data-placement="left" title="Last payment failed, check payment method"><a href="{{ path('subscribe') }}"><i class="icon-fixed-width icon-usd"></i> 2&#8239;/&#8239;month</a></li>
{% endif %}
{% if app.feature.sharing %}
            <li {% if app.user.pending > 0 %}class="pending-notifications"{% endif %}><a href="{{ path('settings') }}"><i class="icon-fixed-width icon-cog"></i> Settings</a></li>
{% endif %}
{% if logout_to_index|default(false) %}
            <li><a href="{{ path('logout') }}"><i class="icon-fixed-width icon-signout"></i> Logout</a></li>
{% else %}
            <li><a href="{{ path('logout', {'return': app.request.pathInfo}) }}"><i class="icon-fixed-width icon-signout"></i> Logout</a></li>
{% endif %}
        </ul>
    </li>
</ul>
{% else %}
                    <a href="{{ path('login', {'return': app.request.pathInfo}) }}" class="btn btn-success navbar-btn"><i class="icon-signin"></i> Login</a>
{% endif %}
                </div>
            </div>
        </div>
        <div class="container">
{% for error in app.session.flashbag.get('error_auth') %}
            <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% block content %}{% endblock %}
        </div>
        <div id="footer" class="container text-center">
            <small class="text-muted">{% if app.config.apikey or app.config.accelerator %}Powered by {% if app.config.accelerator %}<a href="https://forums.alliedmods.net/showthread.php?t=277703" class="text-muted">Accelerator</a>{% endif %}{% if app.config.apikey and app.config.accelerator %} & {% endif %}{% if app.config.apikey %}<a href="http://steampowered.com" class="text-muted">Steam</a>{% endif %}{% if app.version is defined %} &nbsp;&ndash;&nbsp; {% else %}<br>{% endif %}{% endif %}<a href="{{ path('stats') }}">Statistics</a>{% if app.version is defined %}{% if app.config.apikey or app.config.accelerator %} &nbsp;&ndash;&nbsp; {% else %}<br>{% endif %}Version <a href="https://bitbucket.org/asherkin/throttle/" class="text-muted">{{ app.version }}</a>{% endif %}</small>
        </div>
        <script src="{{ app.request.baseUrl }}/js/jquery.min.js"></script>
        <script src="{{ app.request.baseUrl }}/js/bootstrap.min.js"></script>
        <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        })
        </script>
{% block scripts %}{% endblock %}
    </body>
</html>

