<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Throttle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ app.request.baseUrl }}/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/application.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>
        <script src="{{ app.request.baseUrl }}/js/jquery.min.js"></script>
        <script src="{{ app.request.baseUrl }}/js/bootstrap.min.js"></script>
    </body>
</html>

