{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="page-header page-header-table">
    <h1>All Crashes <small class="pull-right pull-subtitle">{{ app.session.get('user').id }}</small></h1>
</div>

<table class="table table-striped ">
    <tbody>
{% for crash in crashes %}
        <tr>
            <td><img class="identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20"></td>
            <th><a href="{{ url('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></th>
            <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% if app.session.get('user').admin %}
            <td>
{% if crash.owner %}
                <a href="http://steamcommunity.com/profiles/{{ crash.owner }}">{{ crash.owner }}</a>
{% endif %}
            </td>
{% endif %}
            {% set frame = {module: crash.module, function: crash.function, file: crash.file, line: crash.line, offset: crash.offset} %}
            <td title="{{ frame|stackframe }}" class="column-stackframe">{{ frame|stackframe }}</td>
{% if app.session.get('user').admin %}
            <td>
                <form action="{{ url('delete', {id: crash.id}) }}" method="post" class="navbar-form pull-right"><button type="submit" class="btn btn-danger btn-row"><i class="icon-trash"></i></button></form>
                <form action="{{ url('reprocess', {id: crash.id}) }}" method="post" class="navbar-form pull-right"><button type="submit" class="btn btn-row"><i class="icon-refresh"></i></button></form>
            </td>
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

