{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="page-header page-header-table">
    <h1>All Crashes <small class="pull-right pull-subtitle">{{ app.session.get('user').id }}</small></h1>
</div>

<table class="table table-striped ">
    <tbody>
{% for crash in crashes %}
        <tr>
            <td>
{% if crash.cmdline %}
                <img class="identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20">
{% endif %}
            </td>
            <th><a href="{{ url('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></th>
            <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% if app.session.get('user').admin %}
            <td>
{% if crash.owner %}
                <a href="http://steamcommunity.com/profiles/{{ crash.owner }}">{{ crash.owner }}</a>
{% endif %}
            </td>
{% endif %}
{% if crash.module %}
{% set frame = {module: crash.module, function: crash.function, file: crash.file, line: crash.line, offset: crash.offset, first: true} %}
{% else %}
{% set frame = {module: crash.module2, function: crash.function2, file: crash.file2, line: crash.line2, offset: crash.offset2, first: false} %}
{% endif %}
            <td title="{{ frame|stackframe }}" class="column-stackframe {% if not frame.first %}column-stackframe-fallback{% endif %}">
                {{ frame|stackframe }}
            </td>
{% if app.session.get('user').admin %}
            <td class="column-actions">
                <form action="{{ url('reprocess', {id: crash.id}) }}" method="post" class="table-form">
                    <button type="submit" class="btn"><i class="icon-refresh"></i></button>
                </form>
                <form action="{{ url('delete', {id: crash.id}) }}" method="post" class="table-form">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash"></i></button>
                </form>
            </td>
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

