{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="page-header page-header-table">
    <h1>All Crashes <small class="pull-right pull-subtitle"><img class="column-identicon" src="{{ (app.session.get('user').id|steamid).avatar }}" width="40" height="40"> {{ (app.session.get('user').id|steamid).name }}</small></h1>
</div>

<table class="table table-striped ">
    <tbody>
{% for crash in crashes %}
        <tr {% if crash.processed == 0 %}class="warning"{% elseif crash.failed == 1 %}class="error"{% endif %}>
            <td>
{% if crash.cmdline %}
                <img class="column-identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20">
{% endif %}
            </td>
            <td class="monospace"><a href="{{ url('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></td>
            <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% if app.session.get('user').admin %}
            <td>
{% if crash.owner %}
                <img class="column-identicon" src="{{ (crash.owner|steamid).avatar }}" width="20" height="20">
                <a href="http://steamcommunity.com/profiles/{{ crash.owner }}">{{ (crash.owner|steamid).name }}</a>
{% endif %}
            </td>
{% endif %}
{% if crash.module is not empty or crash.module2 is empty %}
{% set frame = {module: crash.module, function: crash.function, file: crash.file, line: crash.line, offset: crash.offset, first: true} %}
{% else %}
{% set frame = {module: crash.module2, function: crash.function2, file: crash.file2, line: crash.line2, offset: crash.offset2, first: false} %}
{% endif %}
            <td title="{{ frame|stackframe }}" class="monospace column-stackframe {% if not frame.first %}column-stackframe-fallback{% endif %}">
                {{ frame|stackframe }}
            </td>
{% if app.session.get('user').admin %}
            <td class="column-actions">
                <form action="{{ url('reprocess', {id: crash.id}) }}" method="post" class="table-form">
                    <button type="submit" class="btn"><i class="icon-refresh"></i></button>
                </form>
                <form action="{{ url('delete', {id: crash.id}) }}" method="post" class="table-form">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash"></i></button>
                </form>
            </td>
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

