{% extends 'layout.html.twig' %}
 
{% block content %}
<h2>All Crashes</h2>
<div class="well well-tight">
    <table class="table table-striped">
        <thead>
            <th></th>
            <th>Crash ID</th>
            <th>Uploaded</th>
{% if user.admin %}
            <th class="hidden-xs"></th>
{% endif %}
            <th class="hidden-xs">Function</th>
            <th></th>
{% if user.admin %}
            <th class="hidden-xs"></th>
{% endif %}
        </thead>
        <tbody>
{% set last = null %}
{% for crash in crashes %}
{% set last = crash.timestamp %}
            <tr {% if crash.processed == 0 %}class="warning"{% elseif crash.failed == 1 %}class="danger"{% endif %}>
                <td>
{% if crash.cmdline %}
                    <img class="column-identicon" src="{{ crash.cmdline|identicon }}" width="20" height="20">
{% endif %}
                </td>
                <td class="monospace"><a href="{{ path('details', {id: crash.id}) }}">{{ crash.id|crashid }}<a></td>
                <td><span title="{{ crash.timestamp|date }}">{{ crash.timestamp|diffdate }}</span></td>
{% if user.admin %}
                <td class="hidden-xs">
{% if crash.owner and crash.name %}
                    <a href="http://steamcommunity.com/profiles/{{ crash.owner }}">
                        <img class="column-identicon" title="{{ crash.name }}" src="{{ crash.avatar }}" width="20" height="20">
                    </a>
{% endif %}
                </td>
{% endif %}
{% if crash.module is not empty or crash.module2 is empty %}
{% set frame = {rendered: crash.rendered, first: true} %}
{% else %}
{% set frame = {rendered: crash.rendered2, first: false} %}
{% endif %}
                <td title="{{ frame.rendered }}" class="hidden-xs monospace column-stackframe {% if not frame.first %}column-stackframe-fallback{% endif %}">
                    {{ frame.rendered }}
                </td>
                <td class="column-notices">
{% if crash.notice is not empty %}
{% set notice = crash.notice | split('-', 2) %}
                    <span class="btn btn-xs disabled btn-{{ notice[1] }}">{{ (notice[0] != 1 ? notice[0] : '&ensp;') | raw }}</span>
{% endif %}
                </td>
{% if user.admin %}
                <td class="column-actions hidden-xs">
                    <form action="{{ path('reprocess', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-default"><i class="icon-refresh"></i></button>
                    </form>
                    <form action="{{ path('delete', {id: crash.id, return: app.request.pathInfo}) }}" method="post" class="button-form">
                        <button type="submit" class="btn btn-xs btn-danger"><i class="icon-trash"></i></button>
                    </form>
                </td>
{% endif %}
            </tr>
{% else %}
            <tr>
                <td class="text-center" colspan="{% if user.admin %}7{% else %}5{% endif %}">No Crashes</td>
            </tr>
{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{% if user.admin %}7{% else %}5{% endif %}">
                    <ul class="pager">
                        <li class="previous {% if not offset %}disabled{% endif %}">
                            <a {% if offset %}href="{{ path('list', {user: userid}) }}"{% endif %}><i class="icon-double-angle-left"></i> Newest</a>
                        </li>
                        <li class="next {% if not last %}disabled{% endif %}">
                            <a {% if last %}href="{{ path('list', {offset: last, user: userid}) }}"{% endif %}>Older <i class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

