{% extends 'layout.html.twig' %}

{% set logout_to_index = true %}
{% set supports_mobile = true %}
 
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        <h2 style="margin-top: 0;">Sharing With Others</h2>
        <div class="well well-tight">
            <table class="table table-share">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th class="column-actions">
{#
                            <a href="{{ path('share_invite') }}" class="btn btn-xs btn-success"><i class="icon-plus"></i> Invite</span>
#}
                        </th>
                    </tr>
                </thead>
                <tbody>
{% for user in sharing %}
                    <tr {% if user.accepted == null %}class="warning"{% endif %}>
                        <td>
                            <a href="http://steamcommunity.com/profiles/{{ user.id }}">
                                <img class="column-identicon" alt="{{ user.name ?? user.id }}'s avatar" src="{{ user.avatar ?? 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg' }}" width="20" height="20">
                            </a>
                        </td>
                        <td>
                            {{ user.name ?? user.id }}
                        </td>
                        <td class="column-actions">
{% if user.accepted == null %}
                            <span class="btn btn-xs btn-default" style="pointer-events: none;"><i class="icon-time"></i> Pending</span>
{% else %}
                            <span class="text-muted">{{ user.accepted|date('Y-m-d') }}</span>
{% endif %}
                            <form action="{{ path('share_revoke', { user: user.id }) }}" method="post" class="button-form">
                                <button type="submit" class="btn btn-xs btn-danger"><i class="icon-remove"></i></button>
                            </form>
                        </td>
                    </tr>
{% else %}
                    <tr class="active">
                        <td class="text-center" colspan="3">You aren't sharing with anybody</td>
                    </tr>
{% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;">
                            <a href="{{ path('share_invite') }}" class="btn btn-block btn-success"><i class="icon-inbox"></i> Invite</span>
                        </td>
                    <tr>
                </tfoot>
            </table>
        </div>

        <h2>Shared With You</h2>
        <div class="well well-tight">
            <table class="table table-share">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
{% for user in shared %}
                    <tr {% if user.accepted == null %}class="warning"{% endif %}>
                        <td>
                            <a href="http://steamcommunity.com/profiles/{{ user.id }}">
                                <img class="column-identicon" alt="{{ user.name ?? user.id }}'s avatar" src="{{ user.avatar ?? 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg' }}" width="20" height="20">
                            </a>
                        </td>
                        <td>
                            {{ user.name ?? user.id }}
                        </td>
                        <td class="column-actions">
{% if user.accepted == null %}
                            <form action="{{ path('share_accept', { owner: user.id }) }}" method="post" class="button-form">
                                <button type="submit" class="btn btn-xs btn-success"><i class="icon-ok"></i> Accept</button>
                            </form>
{% else %}
                            <span class="text-muted">{{ user.accepted|date('Y-m-d') }}</span>
{% endif %}
                            <form action="{{ path('share_revoke', { owner: user.id }) }}" method="post" class="button-form">
                                <button type="submit" class="btn btn-xs btn-danger"><i class="icon-remove"></i></button>
                            </form>
                        </td>
                    </tr>
{% else %}
                    <tr class="active">
                        <td class="text-center" colspan="3">Nobody is sharing with you</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

