<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if sentry_dsn is defined %}
            {{ sentry_trace_meta() }}
            {{ sentry_baggage_meta() }}
        {% endif %}
        <title>{% if block('title') is defined %}{{ block('title') }} - {% endif %}{{ app_name }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            <script>
                const APP_CONFIG = {
                    environment: {{ app.environment | default("dev") | json_encode | raw }},
                    sentry_dsn: {{ sentry_dsn | default(null) | json_encode | raw }},
                    sentry_tunnel: {{ path('sentry') | json_encode | raw }},
                    sentry_user: {{ (app.user ? { username: app.user.userIdentifier } : { ip_address: app.request.clientIp }) | json_encode | raw }}
                };
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block page_body %}
            <header class="mb-3 border-bottom">
                <div class="container">
                    <div class="navbar navbar-light align-items-center justify-content-center justify-content-sm-between">
                        <a href="{{ path('index') }}" class="py-1 px-2 d-flex align-items-center text-dark text-decoration-none">
                            <svg class="me-2" width="32" height="32" fill="currentColor" role="img" aria-label="{{ app_name }}">
                                <use xlink:href="{{ asset('build/bootstrap-icons.svg') }}#speedometer2"></use>
                            </svg>
                            {{ app_name }}
                        </a>
                        <div class="d-flex align-items-center ms-auto">
                            {% if app.user %}
                                <span class="navbar-text me-3">{{ include('_server_owner.html.twig', {owner: app.user}) }}</span>
                                <a href="{{ path('logout') }}" class="btn btn-outline-dark me-2">
                                    <svg class="bi me-1" width="16" height="16" aria-hidden="true">
                                        <use xlink:href="{{ asset('build/bootstrap-icons.svg') }}#box-arrow-right"></use>
                                    </svg>
                                    Logout
                                </a>
                            {% elseif not (app.request.get('_route') starts with 'login') %}
                                <a href="{{ path('login') }}" class="btn btn-outline-primary me-2">
                                    <svg class="bi me-1" width="16" height="16" aria-hidden="true">
                                        <use xlink:href="{{ asset('build/bootstrap-icons.svg') }}#box-arrow-in-right"></use>
                                    </svg>
                                    Login
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
